/*body {
    background-image: url('../img/Forest.jpg');
    background-size: cover; /* Pour s'assurer que l'image couvre toute la page */
/* background-repeat: no-repeat; /* Pour éviter la répétition de l'image */
/* background-attachment: fixed; /* Pour que l'arrière-plan reste fixe lors du défilement */
/* padding-bottom:80px;

}*/
body {
    margin: 0;
    padding-bottom: 80px;


}
main {

}
header {
    background: white;
    border-bottom: #6b7280 1px solid;
    box-shadow: #6b7280 0px 0px 10px;


}
.container {
   margin-top:60px;
    overflow: visible;
}

.main-content {



}


.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.img-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}
.img-background img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}



/* Ajouter un effet de flou à une boîte */
.boite-blurry {
    border: 1px solid white;
    backdrop-filter: blur(10px); /* Ajustez la valeur selon l'effet désiré */
    /*background-color: rgba(255, 255, 255, 0.5); /* Ajustez les valeurs RGBA pour obtenir l'effet désiré */
}

.navbar {
    background: transparent;
    border: none;
    box-shadow: none;


}

.nav-link{
   font-weight: bold;
}




/***********************image accueil**********************/
.model-section {
    display: flex;
    justify-content: space-between;
}

.model-container {
    position: relative;
    width: 48%; /* ajustez comme vous le souhaitez */
}

.model-img {
    display: block;
    max-width: 100%;
    height: auto;
}

.model-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.talent-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.talent-title {
    font-size: 32px;
    margin-bottom: 16px;
}

.talent-description {
    font-size: 18px;
    margin-bottom: 32px;
    text-align: center;
}

.talent-container {
    display: flex;
    gap: 16px;
}
@media (max-width: 968px) {
    .talent-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }
}

.talent-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.talent-card img {
    width: 150px; /* Ajustez cette valeur selon vos besoins */
    border-radius: 10px;
    margin-bottom: 16px;
}

.talent-card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.talent-card a {
    font-size: 16px;
    text-decoration: none;
    color: #000;
}

.btn-talent-function {
    margin-top: 32px;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    background-color: #ff5555;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/**********************************************************/
h1{
    color: #3d73fc;
}
h5{
    color: #3d73fc;
}
h4{
    color:#facc01;
}
h2, h3{
    text-align: center;
    color:#121a3f;
}

.form-label, form-check-label, td, tr, p{
    color:#121a3f;
}
th{
    color:black;
}

.navbar-nav .nav-link {
    color:#121a3f;/*Couleur des liens du nav*/
    transition: color 0.3s; /* Transition douce lors du changement de couleur */
}

.navbar-nav .nav-link:hover {
    color: #4261e8; /* Changer la couleur au survol */
}


.navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0; /* Retirer le padding du dernier élément pour éviter un espace supplémentaire sur la droite */
}

.logo-img {
    width: 400px; /* Vous pouvez ajuster la taille du logo ici */
    height: 400px; /* Vous pouvez ajuster la hauteur maximale ici */
}

/* Ajouter un style pour le bouton de la barre de navigation lorsqu'elle est réduite (version mobile) */
.navbar-toggler {
    border-color: #3d73fc;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(61, 115, 252, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    color: #3d73fc;
}

.container {
    margin-bottom: 100px; /* ajoutez une marge en bas au conteneur principal */
}

footer {
   /* background-color: rgba(51, 51, 51, 0.5); /* La couleur de fond avec une transparence de 0.5 */
    backdrop-filter: blur(10px);
    color: #fff;
    padding: 20px;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px; /* Ajustez la hauteur comme désiré */
    flex-direction: column; /* Aligner les éléments en colonne */
    margin-top:50px;
}
.footer-text{
    color:black;
}

.logo-img {
    width: 100px;  /* Ajustez la valeur comme nécessaire */
    height: auto;  /* Maintient le ratio d'aspect */
}
.img-profil {
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    object-fit: contain;
    margin-left:20px;
    margin-top:20px;
    border: 2px solid black;
}



/*animation slide de droite à gauche pour la transition des pages*/
/*@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
        background-image: linear-gradient(to left, yellow, transparent);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        background-color: transparent;
    }
}


.content {
    animation: slideInFromRight 1s forwards;
    transition: all 0.5s;

}*/

/*Animation slide en arrière en avant*/
/*.content {

    transition: transform 0.5s; /* Ajout de la transition
}

@keyframes shrink {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes grow {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.shrink {
    animation: shrink 0.5s forwards;
}

.grow {
    animation: grow 0.5s forwards;
}*/


.content {
    transition: transform 0.5s ease;
}

.move-left {
    transform: translateX(-100%);
}

.move-right {
    transform: translateX(100%);
}

